{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}

<div class="row">
    <div class="col-12">
        <h1 class="display-4">The current temperature of the room is <b>{{temperature}}</b></h1>
    </div>
    {% if categories %}

    {% for category in categories %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mt-2">
        <div class="card">
            <img src="{{category.image}}" class="card-img-top" alt="light bulg" width="400" height="300">
            <div class="card-body">
                <h5 class="card-title">{{category.name}}</h5>
                <p class="card-text">{{category.description}}</p>
                <a href="{{ url_for('category.category_get_view', id=category.id) }}"
                    class="btn btn-primary">{{category.name}}</a>
            </div>
        </div>
    </div>
    {% endfor %}
    {%else%}
    <p class="display-6">You currently have no categories, please create one</p>
    {% endif %}
    {% else %}
    <div class="row">
        <div class="col-12">
            <h1>Create an account and automate your home</h1>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}